.homepage {
  height: calc(100vh - 132.67px);
  @extend %flex-center;
  .container {
    padding: 70px 0px 70px;
    text-align: center;
    @media ($maxMobile) {
      padding: {
        left: 15px;
        right: 15px;
      }
    }
    a {
      display: block;
      padding: 20px 20px;
      border-radius: 0px 20px 0px 20px;
      @media ($maxMobile) {
        padding: 15px 20px;
        line-height: 1.6;
      }
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      .title {
        font: {
          size: 20px;
          weight: 600;
        }
        color: #fff;
        z-index: 10;
        @media ($maxMobile) {
          font-size: 18px;
        }
      }
      &:first-of-type {
        background: #ed213a;
        background: -webkit-linear-gradient(to right, #93291e, #ed213a);
        background: linear-gradient(to right, #93291e, #ed213a);
      }
      &:last-of-type {
        background: #7f7fd5;
        background: -webkit-linear-gradient(
          to right,
          #91eae4,
          #86a8e7,
          #7f7fd5
        );
        background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
      }
    }
  }
}
